.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
webpack.config.js
esbuild.js
.github/**
CHANGELOG.md
.npmrc
.npmignore
.editorconfig
.prettierrc
.prettierignore
jest.config.js
coverage/**
**/*.vsix
test/**
docs/**
examples/**
*.log
resources/*.gif
